-title 'Anmelden'

.alert.alert-info
  %h2 hitobito Demo
  %p Du kannst dich mit den folgenden Emailadressen anmelden
  %ul
    %li hitobito-admin@puzzle.ch (passwort: demo) Administrator mit vollem Zugriff
    %li hitobito-leitung@puzzle.ch (passwort: demo) Rolle Leitung einer lokalen Gruppe
    %li hitobito-mitglied@puzzle.ch (passwort: demo) Gruppenmitglied

= standard_form(resource, {url: person_session_path}) do |f|
  = f.error_messages
  = f.labeled_input_field(:email)
  = f.labeled_input_field(:password)
  = f.labeled_boolean_field(:remember_me)
  = f.indented(submit_button(f, 'Anmelden'))
